spring:
  devtools:
    restart:
      enabled: false
  jpa:
    show-sql: false
  datasource:
    url: jdbc:mysql://${DBHOST}:${DBPORT}/${DBNAME}?useUnicode=true&characterEncoding=utf8&useSSL=${USE_SSL}
    username: ${DBUSER}
    password: ${DBPASSWORD}
  flyway:
    password: ${DBPASSWORD}
    schemas: ${DBNAME}
  elasticsearch:
    rest:
      uris: ${ES_URLS}

logging:
  file.name: ${LOG_DIR:${HOME}}/sync.log

slack:
  job:
    notification-channel: monitoring-stage

application:

enable.es.search: ${ENABLE_ES_SEARCH}
